<div class="container">
  <div class="row" style="padding: 50px;">
  
    <div class="col-md-4">
      <app-course-using-ng-content>
        <h2 class="card-title text-center">Java</h2>
        <p class="card-text">Java is a programming language and a platform. Java is a high level, robust, object-oriented 
        and secure programming language.

        Java was developed by Sun Microsystems (which is now the subsidiary of Oracle) in the year 1995.
        James Gosling is known as the father of Java. Before Java, its name was Oak. Since Oak was already 
        a registered company, 
        so James Gosling and his team changed the name from Oak to Java.
        </p>
        <a href="#" class="btn btn-primary">Read more..(Java)</a>
      </app-course-using-ng-content>
    </div>

    <div class="col-md-4">
      <app-course-using-ng-content>
        <h2 class="card-title text-center">Angular</h2>
        <p class="card-text">Angular is an application-design framework and development platform for
          creating efficient and sophisticated single-page apps.

         These Angular docs help you learn and use the Angular framework and development 
         platform, from your first application to optimizing complex single-page applications
         for enterprises. 
         Tutorials and guides include downloadable examples to help you start your projects.
        </p>
        <a href="#" class="btn btn-primary">Read more..(Angular)</a>
      </app-course-using-ng-content>
    </div>


    <div class="col-md-4">
      <app-course-using-ng-content>
        <h2 class="card-title text-center">React</h2>
        <p class="card-text">React is a JavaScript library created by Facebook that lets you build user
          interfaces out of individual pieces called components.React is not a framework, but a tool for 
          building UI components that can be reused and combined to create complex applications.React uses an HTML-in-JavaScript syntax called JSX (JavaScript and XML) that allows you to write markup and logic in the same file
         JSX is not JavaScript nor HTML, but a JavaScript syntax extension that can be compiled into JavaScript by a tool like Babel.
        </p>
        <a href="#" class="btn btn-primary">Read more..(React)</a>
      </app-course-using-ng-content>
    </div>

  </div>
</div>

  
<!-- <router-outlet></router-outlet> -->